* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e2124;
  color: white;
}

.flex {
  display: flex;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.title-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-logo {
  width: 4rem;
  height: 4rem;
  margin-right: 10px;
}

.webhook-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  justify-content: space-between;
  gap: 10px;
  min-height: 400px;
  max-width: 867px;
  width: 100%;
  overflow: auto;
  background-color: #424549;
  color: white;
  padding: 2rem;
  border-radius: 10px;
}

.webhook-bottom {
  display: flex;
  gap: 0.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.webhook-bottom * {
  height: 30px;
}

.webhook-bottom input {
  padding: 5px 10px;
  background-color: #2f3136;
  color: white;
  border: none;
  border-radius: 2px;
}

.webhook-bottom input::placeholder {
  color: rgb(196, 196, 196);
}

.name-input {
  width: 20%;
}

.url-input {
  width: 50%;
}

.display-name-input {
  width: 30%;
}

.webhook-bottom input:focus {
  outline: none;
}

#add-webhook {
  width: 10%;
  background-color: #3556ca;
  color: white;
  border: none;
  border-radius: 2px;
}

#add-webhook:hover {
  background-color: #7289da;
}

.webhook {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f3136;
  border-radius: 5px;
  padding: 10px;
}

.webhook-name {
  width: 20%;
  height: 100%;
  padding-right: 3%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.webhook-url {
  width: 50%;
  height: 100%;
  padding-right: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.webhook-display-name {
  width: 25%;
  height: 100%;
  padding-right: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.webhook-delete {
  width: 5%;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 2px;
}

.webhook-delete:after {
  content: "\00d7";
  font-size: medium;
}

.webhook-delete:hover {
  background-color: #ff3333;
  cursor: pointer;
}

.webhook-delete:focus {
  outline: none;
}

.webhook-delete:active {
  background-color: #ff6666;
}

.webhook-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2px;
}

.wh-warn {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.7rem;
  margin-bottom: -0.5rem;
  color: rgb(223, 223, 223);
}

.webhook-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #1e1f22;
  padding: 10px;
  border-radius: 5px;
}

hr {
  border: 0;
  border-top: 1px solid #bdbdbd;
  margin: 1rem 0;
}

.edit-input {
  padding: 1px 1px;
  background-color: #2f3136;
  color: white;
  border: none;
  border: 1px solid #595a5f;
  border-radius: 2px;
  font-size: small;
  margin: 0 0.5rem;
}

.edit-input:focus {
  outline: none;
}
