* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.title-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-logo {
  width: 4rem;
  height: 4rem;
  margin-right: 10px;
}

.webhook-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  justify-content: space-between;
  gap: 10px;
  min-height: 400px;
  width: 600px;
  overflow: auto;
  background-color: #424549;
  color: white;
  padding: 2rem;
  border-radius: 10px;
}

.webhook-bottom {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.webhook-bottom * {
  height: 30px;
}

.webhook-bottom input {
  padding: 0 10px;
}

.name-input {
  width: 20%;
}

.url-input {
  width: 70%;
}

.webhook-bottom input:focus {
  outline: none;
}

#add-webhook {
  width: 10%;
  background-color: #3556ca;
  color: white;
  border: none;
  border-radius: 2px;
}

#add-webhook:hover {
  background-color: #7289da;
}

.webhook {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f3136;
  border-radius: 5px;
  padding: 10px;
}

.webhook-name {
  width: 20%;
  padding-right: 3%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.webhook-url {
  width: 75%;
  padding-right: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.webhook-delete {
  width: 5%;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 2px;
}
.webhook-delete:after {
  content: "\00d7";
  font-size: medium;
}

.webhook-delete:hover {
  background-color: #ff3333;
  cursor: pointer;
}

.webhook-delete:focus {
  outline: none;
}

.webhook-delete:active {
  background-color: #ff6666;
}

.webhook-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.show-emoji {
  display: flex;
  align-items: center;
  gap: 10px;
}
